<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid container">
        <nav class="nav navbar-nav navbar-left" >
          <span  style="color:white; font-size: 20px">Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right list-unstyled">
            <% if user_signed_in? %>
              <li>
                <%= link_to " Home", user_path(current_user.id), class: "glyphicon glyphicon-home home" %>
              </li>
              <li>
                <%= link_to " Users", users_path, class: "glyphicon glyphicon-user users" %>
              </li>
              <li>
                <%= link_to " Books", books_path, class: "glyphicon glyphicon-book books" %>
              </li>
              <li>
                <%= link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Home", "/", class: "glyphicon glyphicon-home home" %>
              </li>
              <li>
                <%= link_to "About", home_about_path, class: "glyphicon glyphicon-link" %>
              </li>
              <li>
                <%= link_to "sign up", new_user_registration_path, class: "glyphicon glyphicon-edit" %>
              </li>
              <li>
                <%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <p class="flash">

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
    </p>
      <%= yield %>

    <footer class="row">
      <p class="col-xs-3 col-md-offset-9">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
